/* //報告スライドにリンクさせるCSS */
h1 {
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0%;
}
#myName {
    font-size: 20px;
    margin-left: 20px;
}
h2 {
    margin-bottom: 0;
}
h2::before {
    content: "■";
}

#top {
    text-align: center;
}

ul {
    font-size: 20px;
    margin: 0;
    padding-top: 0px;
    margin-top: 0px;
}
ol {
    font-size: 18px;
}

button {
    margin-left: 0px;
}

.gameArea {
    width: 700px;
    height: 250px;
    background-color:orange ;
}

#inputLabel {
    background-color: aqua;
}

#expectedLabel {
    width: 200px;
    height: 20px;
    background-color: pink;
}

#gameTitle {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 260px;
    margin-bottom: 0px;
}
li {
    margin-left: 20px;
}

#remainingTime {
    text-align: right;
}

#startScreen{
    display:block;
}

#playScreen {
    display: none;
}

#resultScreen {
    display: none;
}

#result {
    text-align: center;
}

#summary {
    font-size: 20px;
}
